<h1>Investment growth over time</h1>
<br>
<p>While money may be tight, young adults have a time advantage. There is a reason that compounding - the ability to grow an investment by reinvesting the earnings - was referred to by Albert Einstein as "the eighth wonder of the world." The magic of compounding allows investors to generate wealth over time, and requires only two things: the reinvestment of earnings and time.
</p>
<br>
<img src="http://landmarkgold.com/wp-content/uploads/2015/12/Dollarphotoclub_93946504.jpg" width="39%">
<br>
<br>
<p>A single $10,000 investment at age 20 would grow to over $70,000 by the time the investor was 60 years old (based on a 5% interest rate). That same $10,000 investment made at age 30 would yield about $43,000 by age 60, and made at age 40 would yield only $26,000. The longer money is put to work, the more wealth it can generate in the future.</p>

<a id="nasdaq-link" href="/stock/nasdaq">NASDAQ Growth </a><br>
<div id="nasdaq-pic"></div>
<a id="dj-link" href="/stock/dj">DOW JONES Growth </a><br>
<div id="dj-pic"></div>
<a id="nyse-link" href="/stock/nyse">NYSE Growth </a><br>
<div id="nyse-pic"></div>