<div class="container">
	<h1>Enter forms below to create a new account</h1>
	<form action="/users/new" method="post" >
		<input type="text" name="username" placeholder="Enter Username"> <br>
		<input type="text" name="email" placeholder="Enter Email"> <br>
		<input type="text" name="password" placeholder="Enter Password"> <br>
		<input type="submit" value="Create User!"> <br>
	</form>
</div>