<!DOCTYPE html>
<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> 401Kast</title>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/application.css" />
  <script type="text/javascript" src="/js/application.js"></script>
</head>
<body>
  <div class="container">
    <h1>Welcome to 401Kast!</h1> 

    <ul class="tabs">
        <li class="active"><a href="#what_is_it">What is it?</a></li>
        <li><a href="#how_it_works">How it works?</a></li>
        <li><a href="#tell_me_more">Tell me more!</a></li>
    </ul>

    <div class="tab-content" id="what_is_it">
      <h2>What is a 401k?</h2>
      <p>
        A 401(k) is a retirement savings plan sponsored by an employer. It lets workers save and invest a piece of their paycheck before taxes are taken out. Taxes aren’t paid until the money is withdrawn from the account. Since most employers offer 401k matching, they are contributing towards your retirement funds as well. Make sure to take advantage of this. It's like free money!!
      </p>
      <img src="http://www.interest.com/wp-content/uploads/sites/1/2014/04/401k-egg-grass-300x168.jpg">
      <ul>
        <h5> 401(k) Quick Tips </h5>
        <li>At the very least, contribute enough to your 401(k) to get the company match.</li>
        <li>Target-date funds are a popular way to save for retirement.</li>
        <li>If your company goes under, your 401(k) is safe.</li>
      </ul>
    </div>

    <div class="tab-content" id="how_it_works">
      <h2>How does a 401k work??</h2>
      <p>So how would a 3% match work? If you put in 3% of your $50,000 salary, or $1,500, your company puts another $1,500 in the pot. You can add more than that $1,500 yourself, but the company won’t match beyond 3%. The rules for matching funds vary, so be sure to check with your employer about qualifying for its contributions. Most companies allow you to enroll in a 401(k) right away, although some smaller employers might make you wait up to a year. Finally, if your company is on shaky ground, don’t fret. Your 401(k) is off-limits. If your company goes under, the plan would most likely be terminated. If that happens, you should roll the money over into a traditional IRA to avoid paying the 10% withdrawal penalty and income taxes.
      </p>
      <br><br><br>
      <img src="http://www.hhcpa.com/blogs/employee-benefits-audit-services/wp-content/uploads/2015/10/Tables.jpg" width="75%">
<!--       <table id="table" style="width:100%">
        <tr>
          <th>   </th>
          <th>2015</th>
          <th>2016</th>
        </tr>
        <tr>
          <td>Age 49 and under</td>
          <td>$18,000</td>
          <td>Additional $6,000</td>
        </tr>
        <tr>
          <td>Age 50 and older</td>
          <td>$18,000</td>
          <td>Additional $6,000</td>
        </tr>
      </table> -->
    </div>

    <div class="tab-content" id="tell_me_more">
      <h2>What does 401Kast have to do with my 401k??</h2>
      <p>401Kast is a tool used to curate an ideal 401k investment plan. In a nutshell, we will provide you with tools to build a smart (and user-friendly)
      retirement plan. Enter your financial agenda - (salaries, payments, bonuses, expenses, and more) and we'll sift through the nitty-gritty data
      for you. This free service will provide you with a chart-based analysis of your data without the headache of doing the math yourself.
      Future features include charts, projections, and potential investment plans. Join and subscribe now to start building your retirement empire!</p>
    <img src="https://media.giphy.com/media/Djn3VQGNfmPra/giphy.gif">
    </div>
</div>

</body>
</html>
